<h1>Admin Pannel</h1>
<%=link_to "All Users", users_path ,class:"btn btn-info"%>
<%=link_to "Add Product", new_product_path ,class:"btn btn-info"%>
<%=link_to "Show Products", products_path ,class:"btn btn-info"%>
<%=button_to "Sign-out",destroy_user_session_path,method: :delete,class: "btn btn-danger"%>
